/* Certificaciones - cards anchas y cortas */
.card {
  min-height: unset !important;
  height: auto !important;
}

.card .card-body {
  padding: 0.75rem 1rem !important;
}

.card img {
  display: none !important;
}

/* Mostrar todos los tags en las tarjetas */
.hb-tag-overflow {
  display: none !important;
}

.hb-tags .hb-tag:nth-child(n+5) {
  display: inline-flex !important;
}
